<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL5ToncfniwPiGq7LDM9fZXqlzIKGRzew</string>
	<key>GCM_SENDER_ID</key>
	<string>792265527658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminbsp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>databasebsp-4f106</string>
	<key>STORAGE_BUCKET</key>
	<string>databasebsp-4f106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792265527658:ios:352582db41c0d79322d513</string>
</dict>
</plist>